<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Error</title>



</head>

<body style="background: rgb(56, 191, 191)">

  <!-- Header -->
  <header>
      <div class="container" id="maincontent" tabindex="-1">
          <div class="row">
              <div class="col-lg-12">
                  <!-- <img class="img-responsive img-circle" src="file://C:/wamp64/www/PersonalUAB/view/libs/multimedia/img/design/compu.jpg" alt="" width="350" height="350"> -->
                  <div class="intro-text">

                      <center><h1 class="name">ERROR EN PERSONAL UAB</h1></center>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <!-- About Section -->
  <section  id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 text-center">
                  <h2>Mision</h2>
                  <hr class="star-light">
              </div>
              <div class="col-lg-4 col-lg-offset-2">
                  <p>

  Somos una institución Adventista comprometida con la formación integral de profesionales y el desarrollo de ciencia y tecnología, fundamentada en la cosmovisión bíblica, para brindar un servicio de calidad a Dios y la Sociedad.
  </p>
              </div>

          </div>
          <hr>
          <div class="row">
            <div class="col-lg-6 text-center">
                <h2>Vision</h2>
                <hr class="star-light">
            </div>
              <div class="col-lg-4 col-lg-offset-2">
                  <p>

  Ser la institución líder en la formación integral de profesionales; que educa para esta vida y la eternidad, desarrollando armoniosamente las potencialidades físicas, mentales, sociales y espirituales para una vida de servicio.
  </p>
              </div>

          </div>
      </div>
  </section>

</body>
</html>
